* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(235, 232, 232);
}

nav {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  margin-right: 20px;
}

nav p {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

span {
  color: red;
  font-weight: 400;
}

nav ul {
  display: none;
  list-style: none;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: red;
}

nav #carrito {
  display: none;
}

.cabecera {
  background-image: url(../img/img_fondo.png);
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 414px;
}

.cabecera h1 {
  text-align: center;
  padding: 134px 39px 50px;
  color: white;
  font-size: 40px;
}

.cabecera span {
  font-weight: bold;
}

.cabecera a {
  text-decoration: none;
  color: white;
  background-color: red;
  font-size: 25px;
  padding: 16px 61px;
  border-radius: 5px;
}

.cabecera a:hover {
  background-color: white;
  color: red;
}

/*Tarjetas*/

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h2 {
  margin: 25px 0px;
  font-weight: 400;
  font-size: 30px;
}

article img {
  background-color: white;
  padding: 30px 55px;
}

article {
  background-color: white;
  margin-bottom: 30px;
}

article h3 {
  padding-top: 20px;
}

article h5 {
  padding-bottom: 20px;
  color: green;
}

article h3,
h4,
h5 {
  font-weight: 400;
  line-height: 140%;
  padding-left: 20px;
}

.silla {
  background-image: url(../img/Banner_sillas.png);
  height: 108px;
  width: 288px;
  border-radius: 10px;
}

.silla p,
.computadora p {
  color: white;
  text-align: right;
  padding: 45px 30px;
}

.computadora {
  background-image: url(../img/Banner_pcs.png);
  height: 108px;
  width: 288px;
  border-radius: 10px;
}

/*Footer*/

footer {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

footer .logo p {
  font-weight: bold;
  color: white;
  font-size: 25px;
}

footer p {
  padding-top: 30px;
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
}

footer i {
  font-size: 32px;
  margin-bottom: 19px;
}

.copyright {
  background-color: rgb(235, 232, 232);
  text-align: center;
  padding: 7px 0px;
  font-size: 10px;
}

/*Media queries*/

@media (min-width: 344px) {
  .cabecera h1 {
    padding: 50px 39px 50px;
  }
}

@media (min-width: 768px) {
  .cabecera h1 {
    padding: 134px 39px 50px;
  }

  nav ul {
    display: flex;
  }
  nav #carrito {
    display: inline-block;
    margin-left: 20px;
  }

  #hamburger {
    display: none;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 75px;
  }

  .copyright {
    font-size: 20px;
  }
}

@media (min-width: 820px) {
  .estrella {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
}

@media (min-width: 912px) {
  .productos {
    display: flex;
    gap: 20px;
  }

  .silla,
  .computadora {
    width: 360px;
    height: 135px;
  }
}
